charset=utf-8

/* CSS Document */
*{ margin:0; padding:0;}
img{ border:none;}
ul, li{ list-style-type:none;}
a{ text-decoration:none; border:none; color:#1b1b1b;}
h1, h2, h3, h4, h5, h6, p{ text-decoration:none; border:none; }
a:hover{ text-decoration:none; border:none; color:#0f4e77;}
table, div{ margin:0 auto;}
html, body, ul, li, h1, h2, h3, h4, h5, h6, p, fieldset, legend{ margin:0; padding:0;}
body{
	font-family: Arial;
	font-size: 12px;
	width: 100%;
	background: url("../images/bg.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/bg.jpg*/ repeat left top;
	color: #1b1b1b;
	height: inherit;
}
.clear{ clear:both;}

/* top */
.top{width:1002px; margin:0 auto; height:221px; background:url("../images/tbg.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/tbg.jpg*/ repeat-x left top; padding-top:16px;}
.top_ml{width:351px; height:115px; float:left; padding:46px 27px 60px 25px; background:url("../images/ms.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/ms.jpg*/ no-repeat left bottom;}
.top_mr{float:right; width:594px; height:218px; padding-right:5px; }



.p_cont { OVERFLOW: hidden; HEIGHT:218px; WIDTH:594px; POSITION: relative; margin:0 auto}
#scrollBox { MARGIN: 0px auto; width:523px; }
#scrollBox IMG { DISPLAY: block }
.arrleft { OVERFLOW: hidden; CURSOR: pointer; HEIGHT: 34px; WIDTH: 18px; BACKGROUND: url("../images/arrow.png")/*tpa=http://yaolab.ustc.edu.cn/images/arrow.png*/ no-repeat; POSITION: absolute; OUTLINE-STYLE: none; LEFT: 15px; Z-INDEX: 999; DISPLAY: block; LINE-HEIGHT: 200px; TOP: 105px }
.arrright { OVERFLOW: hidden; CURSOR: pointer; HEIGHT: 34px; WIDTH: 18px; BACKGROUND: url("../images/arrow.png")/*tpa=http://yaolab.ustc.edu.cn/images/arrow.png*/ no-repeat; POSITION: absolute; OUTLINE-STYLE: none; right: 15px; Z-INDEX: 999; DISPLAY: block; LINE-HEIGHT: 200px; TOP: 105px }
.arrleft:hover { BACKGROUND-POSITION: 0px -48px }
.arrright { BACKGROUND-POSITION: -34px 0px;}
.arrright:hover { BACKGROUND-POSITION: -34px -48px }
.piclist { border:#fff 1px solid;  }

/* menu */


.menu {
      width:1002px;
      margin:0 auto;
	  position:relative; z-index:9999; background:url("../images/menubg.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/menubg.jpg*/ repeat-x left bottom;
	 
      }

.menu ul {
         padding:0; 
         margin:0;
         list-style-type: none; margin:0 auto;
         }

.menu ul li {
            float:left; 
            position:relative;
            }

.menu ul li .x{background:url("../images/md.png")/*tpa=http://yaolab.ustc.edu.cn/images/md.png*/ no-repeat right center}

.menu ul li a, .menu ul li a:visited {
                                      display:block; 
                                      text-decoration:none; 
                                      color:#fff; 
                                      line-height:48px; 
                                      font-size:14px;
									  font-weight:bold;
									  font-family:Arial, Helvetica, sans-serif;
									  background:url("../images/line.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/line.jpg*/ no-repeat center right;
									  text-align:center;
							                                     }

.menu ul li ul {display: none;}



.menu ul li:hover a {
                    color:#f59414; 
                   
                    }

.menu ul li:hover ul {
                    display:block; 
                    position:absolute;
                    top:48px; 
              

			                   }

.menu ul li:hover ul li a {
                    display:block; 
                    background:#165d8b; 
                    color:#fff;
					 line-height:20px; font-size:12px; border-bottom:#366e91 1px solid;
                    text-align:left;
					padding:4px 10px;
					font-weight:normal;
                    }

.menu ul li:hover ul li a:hover {
                  background:#3880af; 
                  color:#fff;
                 }



.index1{ width:1002px; margin:0 auto; background:#fff url("../images/menubg.png")/*tpa=http://yaolab.ustc.edu.cn/images/menubg.png*/ no-repeat top center; height:282px; padding-top:21px;}
     
.index1_1{ width:645px; padding-left:31px; height:282px; background:url("../images/al.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/al.jpg*/ no-repeat 16px top; float:left;}
.index1_1m{ width:630px; height:282px; background:url("../images/am.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/am.jpg*/ repeat-x left top; float:left;}
.index1_1ml{ width:176px; border:#d7d7d7 1px solid; margin:27px 17px 29px 9px; float:left;}

.index1_1mr{ float:right; width:372px; padding:27px 14px 0px 40px ; margin:6px 0px 12px 0px; color:#000; font-size:14px; line-height:24px; 
background:#f0f0f0; height:237px;  font-family:Arial;}
.index1_1mr span{font-size:24px; line-height:36px; background:url("../images/name.png")/*tpa=http://yaolab.ustc.edu.cn/images/name.png*/ no-repeat 150px center;}
.index1_1mr em{font-style:normal; font-weight: bold;}
.index1_1mbg{width:15px; height:282px; float:right;}

.index1_2{ float:right; width:293px; background:url("../images/rl.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/rl.jpg*/ no-repeat left top; padding-left:20px; height:282px; padding-right:13px;}
.index1_2m{float:left; background:url("../images/am.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/am.jpg*/ repeat-x left top; width:266px; height:264px; padding:6px 4px 12px 3px;}
.index1_2mbg{ width:20px; height:282px; float:right;}
.index1_2mt{height:28px; line-height:27px; width:266px; padding-top:7px;}
.index1_2mtl{float:left; border-bottom:#0f4e77 1px solid; width:171px; color:#0f4e77; font-size:18px; font-family:"微软雅黑";}
.index1_2mtr{ float:right; width:49px; padding-top:7px; padding-left:46px;border-bottom:#d0d0d0 1px solid; height:20px; }
.index1_2mbox{ width:266px; height:93px; padding:15px 0px 6px; line-height:24px; color:#1b1b1b; line-height:22px;
 font-family:Arial;}
.index1_2mbox a{color:#0f4e77;} 
.index1_2mbox a:hover{ color:#0f4e77; text-decoration:underline;}

.index2{width:985px; margin:0 auto; height:428px; padding-left:17px; padding-bottom:24px; background:#fff;}
.index2_1{float:left; width:643px; background:url("../images/aml.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/aml.jpg*/ no-repeat left top; padding-left:17px; height:428px;}


.index2_1m{ float:left; background:url("../images/amm.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/amm.jpg*/ repeat-x left top; width:621px; overflow:hidden;height:410px; padding:12px 3px 6px 2px;}
.index2_1mbg{ float:right; width:17px; height:428px;}
.index2_2mt{height:28px; line-height:27px; width:621px; padding-top:7px;}
.index2_1tl{float:left; border-bottom:#0f4e77 1px solid; width:106px; color:#0f4e77; font-size:18px; font-family:"微软雅黑";}
.index2_1tr{ float:right; width:49px; padding-top:7px; padding-left:466px;border-bottom:#d0d0d0 1px solid; height:20px; }

.index2_1box{ width:585px; padding:30px 28px 26px 8px; height:319px; color:#1b1b1b; line-height:24px;}
.ls{color:#0f4e77; font-weight:bold; font-size:16px;}
.hs{color:#1b1b1b; font-weight:bold;}


.index2_2{ float:right; width:294px; background:url("../images/nl.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/nl.jpg*/ no-repeat left top; padding-left:18px; height:428px;padding-right:13px;}
.index2_2m{float:left; background:url("../images/nm.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/nm.jpg*/ repeat-x left top; width:265px; overflow:hidden; height:418px; padding:5px 4px 5px 5px;}
.index2_2mbg{ width:20px; height:428px; float:right;}
.index2_2mbox{ width:265px;padding:15px 0px 6px 0px; line-height:24px; color:#1b1b1b; line-height:22px;min-height:80px; height:auto !important; height:80px; font-family:Arial; }

.index2_2mbox1{ width:265px; padding:15px 0px 6px 0px; line-height:24px; color:#1b1b1b; line-height:22px; 
min-height:80px; height:auto !important; height:80px;
 font-family:Arial; border-bottom:#bababa dashed 1px;}
.index2_2mbox1 a{color:#1b1b1b;} 
.index2_2mbox1 a:hover{ color:#0f4e77;}

.index2_2mboxl{float:left; width:253px;}
.index2_2mboxr{float:right; border:#cdcdcd 1px solid; width:74px;} 
 

 
.index2_2mbox a{color:#1b1b1b;} 
.index2_2mbox a:hover{ color:#0f4e77;}


.foot{ width:968px; background:#fff;   color:#898989;font-family:Arial; line-height:38px;margin:0 auto; height:49px; border-bottom:#0f4e77 7px solid; line-height:18px; padding-left:34px;}
.foot span{ font-weight:bold;}

/* 内页 */

.cv{ width:956px; padding-left:31px; height:282px; background:url("../images/al.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/al.jpg*/ no-repeat 16px top; padding-right:15px;}
.cv_m{width:941px; height:282px; background:url("../images/am.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/am.jpg*/ repeat-x left top; float:left;}

.cv_1mr{ float:right; width:670px; padding:27px 27px 0px 40px ; margin:6px 0px 12px 0px; color:#000; font-size:14px; line-height:24px; 
background:#f0f0f0; height:237px;  font-family:Arial;}
.cv_1mr span{font-size:24px; line-height:36px; background:url("../images/name.png")/*tpa=http://yaolab.ustc.edu.cn/images/name.png*/ no-repeat 150px center;}
.cv_1mr em{font-style:normal; font-weight: bold;}

.cv_x{width:972px; background:#fff url("../images/yh.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/yh.jpg*/ no-repeat 15px top; margin:0px auto; min-height:100px; height:auto !important; height:100px; 
padding:12px 15px;}
.cv_xm{ width:972px;  min-height:100px; height:auto !important; height:100px; background:url("../images/yhm.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/yhm.jpg*/ repeat-y left top;}
.cv_xmbg{width:972px; height:12px; background:url("../images/yhx.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/yhx.jpg*/ left bottom;}
.cv_xmt{ height:26px;padding:7px 20px; width:932px; }
.cv_xmtl{
	float: left;
	width: 100%;
	border-bottom: #0f4e77 1px solid;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	color: #0f4e77;
}
.cv_xmtr{float:right; width:646px;border-bottom:#d0d0d0 1px solid;height:25px;line-height:25px; text-align:right;}
.cv_xmtr a{color:#f59414; padding-left:4px;}
.cv_xmtr a:hover{color:#f59414; text-decoration:underline;} 
.cv_xmm{width:919px; min-height:100px; height:auto !important; height:100px; padding:30px 28px 26px 25px; color:#1b1b1b; line-height:24px;}      


.linksbg{width:972px; background:#fff url("../images/lx.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/lx.jpg*/ no-repeat 15px 20px; margin:0px auto; min-height:100px; height:auto !important; height:100px;padding:32px 15px 12px 15px;}

.links{width:919px; min-height:100px; height:auto !important; height:100px; padding:18px 28px 26px 25px; color:#1b1b1b; line-height:24px;}  
.links dl{padding-bottom:12px; border-bottom:#ccc 1px dashed;}
.links dt{font-size:14px; font-weight:bold; color:#1b1b1b; line-height:40px;}
.links dd{background:url("../images/ld.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/ld.jpg*/ no-repeat left center; padding-left:9px; height:30px; line-height:30px;} 
.links dd a{color:#1b1b1b;}
.links dd a:hover{color:#0f4e77;}           

.photos{width:919px; min-height:100px; height:auto !important; height:100px; padding:0px 28px 26px 25px; color:#1b1b1b; line-height:24px;}  
.photos dl{padding-bottom:10px; border-bottom:#ccc 1px dashed; }
.photos dt{font-size:14px; font-weight:bold; color:#1b1b1b; line-height:30px; height:30px; margin-bottom:6px; display:block; border-bottom:#d7d7d7 1px dotted;}

.left{float:left; background: url("../images/y_03.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/y_03.jpg*/ no-repeat left center; padding-left:12px;}
.right{float:right; padding-top:4px;}
.right img{width:49px; height:12px; float:right;}

.photos dd{  float:left; width:169px; height:147px; text-align:center; line-height:30px;margin-bottom:20px; margin:10px 0px 20px 12px;} 
.photos dd img{border:#d7d7d7 1px solid;width:167px; height:125px;}
.photos dd a{color:#1b1b1b;}
.photos dd a:hover{color:#0f4e77;}      

.fy{ text-align:center; height:20px; line-height:20px; color:#707070; width:500px; font-size:12px; margin:25px auto;}
.fy a{ color:#0f4e77;}
.fy a:hover{ color:#1b1b1b;}
.fy sapn{color:#0f4e77;}


.mian_nm{width:1002px; margin:0 auto; min-height:250px; height:auto !important; height:250px; padding-top:20px; line-height:20px; padding-bottom:40px;}
.new_name{
         color:#1b1b1b; 
		 font-size:18px; 
		 font-weight:bold; 
		 line-height:35px; 
		 text-align:center; }

.new_xx1{padding:10px 72px 10px 40px; text-align:center; min-height:100px; height:auto !important; height:100px; margin:0 auto; width:890px; 
overflow: hidden; }

.new_anl{ float:left; width:32px; height:64px; padding-top:30%;}
.new_anr{ float:left; width:32px; height:64px; padding-top:30%; }
.new_img{ float:left; width:810px; margin:0px 8px;}
.new_img img{border:#e0dcdd 1px solid; padding:4px; background:#eae8e8; max-width:800px; height:auto; } 

.new_xx{
       color:#1b1b1b; 
	   font-size:12px; 
	   line-height:22px; 
	   padding:10px 30px;}


.news{
	width: auto;
	min-height: 200px;
	height: auto !important;
	height: 600px;
	padding: 18px 28px 26px 25px;
	color: #1b1b1b;
	line-height: 24px;
}  
.news dl{padding-bottom:12px; border-bottom:#ccc 1px dashed;}
.news dt{font-size:14px; font-weight:bold; color:#1b1b1b; line-height:40px; border-bottom:#cdcdcd 1px dotted;}

.news dd{ min-height:30px; height:auto !important; height:30px; line-height:26px; margin:0 auto; width:907px; padding-left:12px;} 
.news dd span{ float:left;line-height:30px; height:30px; color:#0f4e77; background:url("../images/nd.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/nd.jpg*/ no-repeat left center; margin-left:0px; padding-left:8px; padding-right:8px;}
.news dd a{color:#1b1b1b;}
.news dd a:hover{color:#0f4e77;}           

.new_dj{ font-size:12px; color:#555555; line-height:26px;  text-align:center; background:#f8f8f8;}
.new_dj .cs{ text-decoration:none; color:#f59414; font-family:Arial; font-size:12px; font-weight:normal;}

.new_xx2{
       color:#1b1b1b; 
	   font-size:12px; 
	   line-height:22px; 
	   padding:10px 0px;}

.research{width:919px; min-height:600px; height:auto !important; height:600px; padding:18px 28px 26px 25px; color:#1b1b1b; line-height:24px;}
.research li{height:30px; padding-left:10px; line-height:30px; color:#1b1b1b; border-bottom:#cbcbcb 1px dotted; 
background:url("../images/y_03.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/y_03.jpg*/ no-repeat left center;}

.publication_t dt{ font-size:16px; color:#1b1b1b; font-weight:bold; line-height:30px; }
.publication_t{ color:#1b1b1b; line-height:18px; width:890px;margin:12px 25px 26px 25px; background:#f5f5f5;  padding:16px; font-family:Arial; }
.publication_t dd{width:890px; height:244px; margin:12px auto; overflow:hidden;}
.publication_t dd .left{float:left; width:311px; height:240px; background:#ecebeb; padding:2px;} 
.publication_t dd .right{float:right; width:560px; line-height:20px; padding-left:15px;}
.publication_t dd .right a{color:#0f4e77; text-decoration:underline;}
.publication_t dd .right a:hover{color:#0f4e77; text-decoration:none;}

.publication_m span{  color:#1b1b1b;  line-height:30px;}


.publication_m{ color:#1b1b1b; line-height:18px; width:919px;padding:0px 28px 26px 25px;min-height:600px; height:auto !important; height:600px;} .publication_m dt{font-size:14px; font-weight:bold; color:#1b1b1b; line-height:40px; border-bottom:#cdcdcd 1px dotted; margin-bottom:8px;}
.publication_m dd{ line-height:18px; margin:0 auto; width:907px; padding-left:12px; font-family:Arial; 
background:url("../images/nd.jpg")/*tpa=http://yaolab.ustc.edu.cn/images/nd.jpg*/ no-repeat left 8px; padding-left:8px; margin-bottom:10px; }
.publication_m dd a{color:#f59414;text-decoration:underline;}
.publication_m dd a:hover{color:#d87602;text-decoration:none; }
